#container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: 90px;
    border: 0px solid red;
}
#container>ul{
    margin-top: 0px;
    margin-bottom: auto;
    list-style: none;
    padding: 0px 5px;
    display: flex;
    
}
#container>ul>li{
    padding: 0px;
    margin-left: 30px;
    
}
#top ul li a{
    font-size: 13px;
    font-weight: 700;
    color: #938e8e;
    white-space: nowrap;
    padding: 5px 0;
    display: block;
    line-height: 1.4;
    text-decoration: none;
}
#hr{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    
}
#top-nav{
    height: 90px;
    width:100%;
    border:0px solid gray;
}
#in-nav{
    height: 90px;
    width: 50%;
    border: 0px solid green;
    margin-left: 350px;
    
}
#in-nav>ul{
    display: flex;
    margin-top: 30px;
    list-style: none;
}
#in-nav>ul>li>a{
    padding: 10px;
    margin-left: 30px;
    color: #575757;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    
}
#in-nav>ul>li>a:hover{
    color: orange;
    cursor: pointer;
    
}
#changing>div:hover{
    color: orange;
    cursor: pointer;
}
#in-nav>ul>li>img{
    margin-left: 50px;
}
#changing>div{
    padding: 5px;
    margin-left: 5px;
    margin-right: 15px;
    margin-top: -3px;
    color: #575757;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.blink {
    animation: blink 1.5s steps(1, end) infinite;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 6px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    background-color: #d1242a

}
@keyframes blink{
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}
#bottamnav{
    display:flex;
    height: 35px;
    width: 100%;
    border: 1px solid red;
    background-color: #d1242a

}
#bottamnav>div{
    margin: auto;
    color: bisque;
}
#bottamnav>div:hover{
    color: orange;
    cursor: pointer;
}
.dropdown{
    position:relative;
    display:inline-block;
}
.container{
    position: absolute;
    background-color: gray;
    min-width: 100%;
    display: none;
    border-radius: 10px;
}
.dropdown:hover .container{
    margin-top: -25px;
    margin-left: -340px;
    display: grid;
    grid-template-rows: repeat(4,1fr);
    grid-template-columns: repeat(4,1fr);
}
.container>p{
    margin-left: 10px;
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-size: 12px;
    
}
.container>p:hover{
    color: orange;
    padding: 5px;    
}
.dropdown1{
    position:relative;
    display:inline-block;
}
.container1{
    position: absolute;
    background-color: gray;
    min-width: 100px;
    height: 30px;
    display: none;
}
.dropdown1:hover .container1{
    display: flex;
    margin-left: -30px;
    margin-bottom: 100px;
    background-color:gray;
}
.container1>i{
    margin-left: 10px;
    color: white;
    align-content: center;
    font-size: 22px;
    
}
.container1>i:hover{
    color: orange;
    padding: 5px;
     
}
#content{
    height: 700px;
    width:75%;
    border:1px solid gray;
    margin: auto;
    margin-top: 10px;
    display: flex;
    border-radius: 10px;

}
#left_content{
    height: 680px;
    width: 50%;
    border:0px solid gray;
    margin-left:2px;
    overflow: hidden;
    margin-top: 10px;
}
#left_content>img{
    margin: 5px 5px 5px 5px;
    border-radius: 10px;
}
#left_content>h1{
    margin-left: 12px;
    margin-top: 10px;
}
#left_content>h1:hover{
    color: #d1242a;
    cursor: pointer;
}
#img1>img{
    height: 150px;
    width: 90%;
    border: 0px solid red;
    margin-top: 15px;
}
#img2>img{
    margin-top:1px;
    height: 150px;
    width: 100%;
    border: 0px solid red;
    margin-top: 15px;
    margin-right:20px;
}
#inside_left_content{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}
#left_content>div>img{
    transition: transform 0.5s ease;
    margin-left: 5px;
    border-radius: 10px;
    
}
#left_content>img:hover{
    transform: scale(1.1); 
    transition: transform 0.5s ease;
    cursor: pointer;
    border-radius: 10px;
    
}
#inside_left_content>div>img{
    transition: transform 0.5s ease;
    border-radius: 10px;
}
#inside_left_content>div>img:hover{
    transform: scale(1.1);
    cursor: pointer;
    border-radius: 10px;
}
#top_stories{
    height: 680px;
    width: 25%;
    border: 1px solid grey;
    margin-left:20px;
    margin-top: 10px;
    overflow: hidden;
    border-radius: 10px;
}
#top_stories>#notscroll{
    height: 50px;
    width: 95%;
    border:0px solid red;
    margin: auto;
    margin-bottom: 10px;
    color: solid black;
    padding:5px;
}
#scroll{
    overflow: scroll;
    scroll-behavior: smooth;
    height: 625px;
    width: 100%;
}
::-webkit-scrollbar {
    height: 2px;
    width: 5px;
    border-radius: 30px;
}
::-webkit-scrollbar-track {
    background: white
}
::-webkit-scrollbar-thumb {
    background: #555
}
::-webkit-scrollbar-thumb:hover {
    background:  #d1242a;
    border-radius: 30px;
}
#scroll>a{
    cursor: pointer;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: black;
}
#opinion{
    padding: 1rem;
    width: 30vw;
    margin: auto;
}
#opinion>h3{
    margin-top: -290px;
    margin-left: 10px;
}
#opinionbox{
    display:flex;
    gap:20px;
    overflow-x:hidden;
    scroll-behavior: smooth;
    border: 0px solid red;
    width: 300px;
    margin-left: 5px;
}
#opinionbox>div{
    height: 320px;
    width: 100%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-left: 10px;
}
#opinionbox>div>img{
    border-radius: 50%;
    height: 80px;
    margin-left:10px;
    margin-right: 10px;
    border-style: double;
    border-color: yellow;

}
#iconscroll{
    margin-left: -170px;
    margin-top: 10px;
    height: 30px;
    width: 40px;
    border: 0px solid red;
    display: flex;
}
#slideleft:hover{
    color: #d1242a;
    cursor: pointer;
}
#slideright:hover{
    color: #d1242a;
    cursor: pointer;
}
#downcontent{
    height: 350px;
    width: 75%;
    border: 1px solid green;
    margin-left: 190px;
    margin-top: 10px;
}
#vsh2{
    margin-left: 10px;
    cursor: pointer;
}
#vscontent{
    height: 75%;
    width:653px;
    border: 0px solid gray;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
    margin-right: -20px;
    margin-left: 20px;
    border-radius: 10px;
}
#vscontent>div{
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    border: 1px solid gray;
    cursor: pointer;
}
#vscontent>div>img{
    border-radius: 10px; 
}
#vsh2>i{
    margin-left: 600px;
}
#vsh2>#left{
    margin-left:21px;
}
#todayspecial{
    height: 260px;
    width: 20%;
    border: 1px solid blue;
    margin-left: 800px;
    margin-top: -270px;
    overflow-y: scroll;
    overflow-x: scroll;
    display: flex;
}
#todayspcial>div{
    margin-top: 80px;
    padding: 10px;
}
